
@{
    ViewBag.Title = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de Categorias
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Categoria</button>
            </div>
        </div>
        <hr />

        <table id="tCategoria" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>IdCategoria</th>
                    <th>DescripcionCategoria</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de Categorias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label for="lblIdCategoria" class="form-label">IdCategoria</label>
                        <input type="text" class="form-control" id="txtIdCategoria" value="0"/>
                    </div>
                    <div class="col-6">
                        <label for="lblDescripcionCategoria" class="form-label">DescripcionCategoria</label>
                        <input type="text" class="form-control" id="txtDescripcionCategoria" />
                    </div>
                    <div class="col-6">
                        <label for="lblEstado" class="form-label">Estado</label>
                        <select id="cbEstado" class="form-select" aria-label="Estado">
                            <option selected>Seleccione estado...</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="lblFecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" id="txtFecha" readonly />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var filaSeleccionada;

        tabladata = $("#tCategoria").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarCategorias", "Mantenimientos")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "IdCategoria" },
                { "data": "DescripcionCategoria" },
                {
                    "data": "Estado", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Activo</span>'
                        } else {
                            return '<span class="badge bg-danger">Inactivo</span>'
                        }
                    }
                },
                { "data": "Fecha" },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "60px"
                },
            ],
            "language": {
                url: '//cdn.datatables.net/plug-ins/2.1.5/i18n/es-ES.json',
            },
        });

        function abrirModal(jsonData) {
            //debugger;
            $(".modal-body").LoadingOverlay("hide");
            $("#txtIdCategoria").val(0);
            $("#txtDescripcionCategoria").val("");
            $("#cbEstado").val(0);
            $("#txtFecha").val("");
            $("#mensajeError").hide();

            if (jsonData != null) {
                $("#txtIdCategoria").val(jsonData.IdCategoria)
                $("#txtDescripcionCategoria").val(jsonData.DescripcionCategoria)
                $("#cbEstado").val(jsonData.Estado == true ? 1 : 0)
                $("#txtFecha").val(jsonData.Fecha)

            }
            $("#formModal").modal("show");
        }

        $("#tCategoria tbody").on("click", '.btn-editar', function () {
            //debugger;
            filaSeleccionada = $(this).closest("tr")
            var data = tabladata.row(filaSeleccionada).data();
            abrirModal(data)
        })

        $("#tCategoria tbody").on("click", '.btn-eliminar', function () {
            //debugger;
            var filaSeleccionada = $(this).closest("tr")
            var data = tabladata.row(filaSeleccionada).data();
            //console.log(data)
            swal({
                title: "Está seguro de eliminar?",
                text: "Se eliminará la categoría de forma permanente!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Sí, eliminarla!",
                closeOnConfirm: false
            },
            function () {
                jQuery.ajax({
                    url: '@Url.Action("EliminarCategoria", "Mantenimientos")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdCategoria }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).remove().draw();
                            swal("Registro Borrado!", "La Categoría ha sido eliminada.", "success");
                        } else {
                            swal("Registro no se pudo eliminar!", data.mensaje, "error");
                        }
                    },
                    error: function (error) {
                        debugger;
                        swal("Error en eliminar!", error, "error");
                        console.log(error);
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Ejecutando...",
                            size: 14
                        });
                    }
                });
            });
        })

        function Guardar() {
            var Categoria = {
                IdCategoria: $("#txtIdCategoria").val(),
                DescripcionCategoria: $("#txtDescripcionCategoria").val(),
                Estado: $("#cbEstado").val() == 1 ? true : false,
                Fecha: $("#txtFecha").val(),
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarCategoria", "Mantenimientos")',
                type: "POST",
                data: JSON.stringify({ obj: Categoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    //console.log(data)
                    //Usuario Nuevo
                    if (Categoria.IdCategoria == 0) {
                        if (data.resultado != 0) {
                            Categoria.IdCategoria = data.resultado;
                            tabladata.row.add(Categoria).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                            //alert(data.mensaje)
                        }
                    }
                    else {//Modificar Usuarios
                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Categoria).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                            //alert(data.mensaje)
                        }
                    }
                },
                error: function (error) {
                    debugger;
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Ejecutando...",
                        size: 14
                    });
                }
            });
            $(".modal-body").LoadingOverlay("hide");

        }

    </script>
}


